

header.header
    .container
        .row.align-items-center
            .col-2
                .inner-logo
                    a(href="/")
                    img(src="https://salt.tikicdn.com/ts/upload/0e/07/78/ee828743c9afa9792cf20d75995e134e.png", alt="Logo")
            .col-5 
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm
            .col-5
                .inner-menu
                    ul
                        li
                            a(href="/" class="icon-home")
                                img(src="https://salt.tikicdn.com/ts/upload/32/56/db/d919a4fea46f498b5f4708986d82009d.png")
                                span Trang chủ                            
                        if(user)
                            li 
                                a(href="/user/info" class="icon-user")
                                    img(src="https://salt.tikicdn.com/ts/upload/07/d5/94/d7b6a3bd7d57d37ef6e437aa0de4821b.png")
                                    span #{user.fullName}
                            li 
                                a(href="/user/logout" class="btn btn-danger") Đăng xuất 
                        else
                            li 
                                a(href="/user/register") Đăng ký 
                                span |
                                a(href="/user/login")  Đăng nhập
                        li 
                            a(href="/cart" class="cart-wrapper") 
                                img(class="cart-icon" src="https://salt.tikicdn.com/ts/upload/51/e2/92/8ca7e2cc5ede8c09e34d1beb50267f4f.png")
                                span #{miniCart ? miniCart.totalQuantity : 0}                                                                                                          
