extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    if(role.permissions.includes("products-category_create"))
        +alert-error(5000)

        h1(class="mb-4 text-center") Tao moi danh muc 

        form(
            action=`${prefixAdmin}/product-category/create`
            id="form-create-product"
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="mb-3") 
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required 
                )

            div(class="mb-3") 
                select(
                    name="parent_id"
                    id="parent_id"
                    class="form-control"
                )
                    option(value="") Chọn danh mục cha
                    +select-tree(records)
                
            div(class="mb-3") 
                label(for="desc") Mô tả
                textarea(
                    class="form-control textarea-mce"
                    id="desc"
                    name="description"
                    rows="5" 
                )

            div(
                class="mb-3 upload-image"
                upload-image 
            )
                label(for="thumbnail") Ảnh
                input(
                    type="file"
                    class="form-control-file upload-image-input"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                <span class="close-image">x</span>
                img(
                    src=""
                    upload-image-preview
                    class="upload-image-preview"
                )

            div(class="mb-3") 
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                )

            div(class="mb-3 form-check form-check-inline") 
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động 

            div(class="mb-3 form-check form-check-inline") 
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="unactive"
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
        
            div(class="mb-3")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới 

        script(src="/admin/js/product.js")
