extends ../../layouts/default.pug

block main 
    div(class="container-detail")
        if (records.title) 
            h1(class="mb-4") #{records.title}

        if (records.parent_id)
            h1(class="mb-4") #{parentTitle}

        if (records.thumbnail) 
            div(class="mb-4")
                img(
                    src=records.thumbnail 
                    style="width: 100px"
                )

        if (records.status) 
            div(class="mb-4")
                span Trạng thái:
                if (records.status === "active")
                    span(class="badge bg-success") Hoạt động
                else 
                    span(class="badge bg-danger") Dừng hoạt động

        if (records.position)
            div(class="mb-4") Vị trí: <b>#{records.position}</b>

        if (records.description)
            div(class="mb-4 description") !{records.description}
        if(role.permissions.includes("products-category_edit"))
            a(
                href=`${prefixAdmin}/product-category/edit/${records.id}`
                class="btn btn-warning btn-sm"
            ) Chinh sua

    script(src="/admin/js/records.js")